:root {
  --primary-color: #ff9900; /* Amazon's orange */
  --secondary-color: #232f3e; /* Amazon's dark blue */
  --text-color: #111;
  --bg-color-light: #f3f3f3;
  --border-color: #ddd;
}

body {
  font-family: Arial, sans-serif;
  color: var(--text-color);
  background-color: #fff;
  margin: 0;
}

/* Reusable button styles */
button {
  cursor: pointer;
  border: 1px solid var(--border-color);
  padding: 8px 16px;
  border-radius: 4px;
}